/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  RESET CSS END  */


body {
    color: white;
}

.bold{
    font-weight: bold;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.over-scroll{
    overflow: scroll;
}
.wrap {
    flex-wrap: wrap;
}
.x-small{
    width: 10%;
}
.x-small-height{
    height: 15vh;
}
.small{
    width: 30%;
}
.small-height{
    height: 30vh;
}
.medium{
    width: 50%;
}
.medium-height{
    height: 40vh;
}
.large{
    width: 70%;
}
.large-height{
    height: 60vh;
}
.x-large{
    width: 90%;
}
.x-large-height{
    height: 80vh;
}

.small-margin{
    margin: 2vh;
}
.medium-margin{
    margin: 5vh;
}
.large-margin{
    margin: 10vh;
}

.background-gray{
    background-color: rgba(31, 31, 31, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.background-gray:hover{
    background-color: rgba(31, 31, 31, 0.6);
}

.pointer:hover{
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34,0.8);
    color: white;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}
.menu a:link, .menu a:visited{
    text-decoration: none;
    color: white;
}
.menu a{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu a:hover{
    text-decoration: underline;
}
.menu img{
    width: 35%;
    margin-bottom: 0.3em;
}

.disabled {
    cursor: default;
    text-decoration: none;
    pointer-events: none;
    color: rgb(124, 124, 124);   
}

.main-title{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.second-title{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.btn{
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: rgb(110, 110, 110);
    color: white;
    cursor: pointer;
    margin: 1em;
}

.big-selector{
    width: 370px;                                                   
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: rgb(1, 46, 129);
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    justify-content: center;
}
.big-selector:hover {
    background-color: rgb(1, 46, 129, 0.8);
    cursor: pointer;
}
